<div class="content">
  <table>
    <tr>
      <td><img src="assets/Images/EMPlogo.png" width="100" hight="100"></td>
      <td><h1>Employee Management System</h1>
    </tr>
  </table>
  <hr>
  <h2>Add Employee Details</h2>
  <span *ngIf="submitted && createEmp.invalid" style="color: red;">Please fill in all the required fields.</span>
  <form [formGroup]="createEmp" (ngSubmit)="addEmp()"><br>
    <table id="opt">
      <tr>
        <td>Employee ID:</td>
        <td><input id="ipt" type="text" formControlName="EmpId" minlength=4 required=""></td>
      </tr>
      <tr>
        <td><br></td>
      </tr>
      <tr>
        <td>Employee Name:</td>
        <td><input id="ipt" type="text" formControlName="EmpName" required=""></td>
      </tr>
      <tr>
        <td><br></td>
      </tr>
      <tr>
        <td>Employee Contact No:</td>
        <td><input id="ipt" type="tel" formControlName="EmpCno" maxlength="10" required=""></td>
      </tr>
      <tr>
        <td><br></td>
      </tr>
      <tr>
        <td>Employee Address:</td>
        <td><input id="ipt" type="text" formControlName="EmpAdd" required=""></td>
      </tr>
      <tr>
        <td><br></td>
      </tr>
      <tr>
        <td>Employee E-mail:</td>
        <td><input id="ipt" type="email" formControlName="EmpMail" required=""></td>
      </tr>
      <tr>
        <td><br></td>
      </tr>
      <tr>
        <td>Sexuality:</td>
        <td>
          Male <input type="radio" formControlName="Sexuality" value="Male"/>
          Female <input type="radio" formControlName="Sexuality" value="Female"/>
        </td>
      </tr>
    </table>
    <br>
    <div>
      <input class="submit" type="submit" value="Submit"/>
      <input class="reset" type="reset" value="Cancel"/>
    </div>
  </form>
</div>
