h1{
    color: #021E2E;
    margin-left: -100px;
}

body {
margin: 0;
font-family: "Lato", sans-serif;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
    }

    .submit{
        background-color:#021E2E;
        border: none;
        color: white;
        padding: 10px 25px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        transition: 0.3s;
        border-radius: 8px;
        margin-right: 10px;
        margin-left: 550px;
        margin-top: 3px;
    }

    .submit:hover {
        background-color: green;
        color: white;
    }

    .reset{
        background-color:#021E2E;
        border: none;
        color: white;
        padding: 10px 25px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        transition: 0.3s;
        border-radius: 8px;
        margin-right: 10px;
        margin-top: 3px;
    }

    .reset:hover {
        background-color: red;
        color: white;
    }

    table{
        width: 72%;
        border-collapse: collapse;
    }

    #opt{
        width: 70%;
        margin-left: 175px;
    }

    #ipt{
        width: 600px;
        height: 20px;
    }
