<div class="content">
    <table>
      <tr>
        <td><img src="assets/Images/EMPlogo.png" width="100" hight="100"></td>
        <td><h1>Employee Management System</h1></td>
      </tr>
    </table>
    <hr>
      <h2>View Employee Details</h2>
      <br>
      <table class="empview" id="emp" border="1">
        <thead>
          <tr>
            <th>Emp Id</th>
            <th>Emp Name</th>
            <th>Emp Contact no </th>
            <th>Emp Address</th>
            <th>Emp E-maill</th>
            <th>Sexuality</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of emp">
            <td>{{emp.EmpId}}</td>
            <td>{{emp.EmpName}}</td>
            <td>{{emp.EmpCno}}</td>
            <td>{{emp.EmpAdd}}</td>
            <td>{{emp.EmpMail}}</td>
            <td>{{emp.Sexuality}}</td>
         </tr>
      </tbody>
    </table>
  </div>
  <router-outlet></router-outlet>
